$yellow: #f0e326;
$red:#f02626;
$blue:#271ad4;

@mixin margenes($top, $bottom) {
    margin-top: $top;
    margin-bottom: $bottom;    
}

.jumbotron {
    background-color: $blue;
    color: black;
    @include margenes(50px, 20px);
}

.btn {
    background-color: $yellow;
    color: black;
    width: 100%;
    border-radius: 0px;    
}

footer{
    padding: 20px 10px 0 10px;
    background-color:$red;
    margin-bottom: 0px;
    margin-top: 10px;
}

.Servicios {
    flex: 1 150px;    
    margin-top: 10px;
}

.Encabezados {
    flex: 1 150px;
    padding: 2px 10px 20px 10px;
    margin-top: 10px;
}

.guion::after {
    content: "/";
    padding-left: 5px;
    padding-right: 5px;
}

.iconos {
    padding-right: 30px;
}

.mas {
    padding-right: 5px;
    color: black;
}

.imagenes {
    padding: 10px 2px 10px 2px;
}

.tab-content{
    padding-top: 5px;
}